html, body { margin: 0; padding: 0; background: url(doc/new_a5.jpg) no-repeat center fixed; background-size: cover;}

.row { margin-right: 0px; margin-left: 0px; }

/*.header-page{ background-color: #CCC; }*/

#title-list-posts { background-color: white; margin-top: 15px; }
.title-list-posts { background-color: white; margin-top: 15px; }
/*#content-list-posts { background-color: white; margin-bottom: 15px; margin-top: 15px; }*/

#title-post { background-color: white; margin-top: 15px; }
#content-post { background-color: white; }
#comment-post { background-color: white; margin-bottom: 15px;}
.comment-post { background-color: white; margin-bottom: 15px;}
.background-title { background-color: #ccdfff; }
/*#add-comment-post { background-color: white; margin-top: 15px; margin-bottom: 15px; }*/

.title-admin { padding-bottom: 60px; padding-top: 10px; }
.title-front { padding-bottom: 60px; padding-top: 20px; }

#title-center { text-align: center; font-weight: bold; }

.buttons { padding-top: 10px; }
.buttons-admin { margin-top: 10px; }
#width-button-padd { padding-bottom: 20px; }

#subtitle-border { text-align: center; border: solid; padding: 10px; margin-bottom: 25px; }
#title_view_posts { text-align: center; border: solid; padding: 10px; margin-bottom: 25px; }

#panel-heading { background-color: #e2d6ce; padding: 5px;}

.list-group { word-wrap: break-word; }
#list-group { background-color: white; }
#btn { padding-left: 15px; }

.info, .col-md-3 { display: flex; flex-direction: column; align-items: center; }

.signal:active, .signal:visited { color: red; }

.pagination { display: flex; justify-content: center; }
.pagination > li > a { background-color: #e2d6ce; font-weight: bold; }

footer { position: absolute; bottom: 0; }
#footer { display: flex; justify-content: space-around; align-items: center; background-color: #e2d6ce;}

#pics { padding-top: 20px; padding-left: 200px; }

#address { padding-left: 170px; }

#mention { padding-left: 175px; }

@media (max-width: 768px)
{
	#width-button { float: unset; }
	#width-button-padd { float: unset; }
	.title-admin { padding-bottom: 0px; padding-top: 10px; }
	.buttons-admin { margin-top: -20px; }

	#add-signal-post { padding: 15px; }
}
