#body { margin: 0; padding: 0; background: url(doc/new_a5.jpg) no-repeat center fixed; background-size: cover; }

p { margin: 7px; }

/*Delete bootstrap margin*/
.row { margin-right: 0px; margin-left: 0px; }

#title-list-posts { background-color: white; margin-top: 15px; }
.title-list-posts { background-color: white; margin-top: 15px; }

#title-post { background-color: white; margin-top: 15px; }
#content-post { background-color: white; }
#comment-post { background-color: white; margin-bottom: 15px; }
.comment-post { background-color: white; margin-bottom: 15px; }

/*Panel background title*/
.background-title { background-color: #ccdfff; }

/*Add space above and below the title*/
.title-admin { padding-bottom: 60px; padding-top: 10px; }
.title-front { padding-bottom: 60px; padding-top: 20px; }
#title-center { text-align: center; font-weight: bold; }

.button-admin-view { display: flex; flex-direction: column; padding-top: 5px; }

/*Add space above and below the button*/
.buttons { padding-top: 10px; }
.buttons-admin { margin-top: 10px; }
#width-button-padd { padding-bottom: 20px; }

/*Add border in the title*/
#subtitle-border { text-align: center; border: solid; padding: 10px; margin-bottom: 25px; }
#title_view_posts { text-align: center; border: solid; padding: 10px; margin-bottom: 25px; }

/*Color panel heading*/
#panel-heading { background-color: #e2d6ce; padding: 5px; }

.list-group { word-wrap: break-word; }
#list-group { background-color: white; }
#btn { padding-left: 15px; }

/*align content*/
.info, .col-md-3 { display: flex; flex-direction: column; align-items: center; }

/*Active and visited link*/
.signal:active, .signal:visited { color: red; }

/*Design pagination*/
#pagination { padding-bottom: 50px; padding-top: 60px; }
.pagination { display: flex; justify-content: center; }
.pagination > li > a { background-color: #e2d6ce; font-weight: bold; }

/*add footer background with transparency*/
#footer { background: rgba(226,214,206,0.8);  }

/*align footer address*/
#address { display: flex; justify-content: center; padding-top: 60px; }

/*align Jean's picture*/
#pics { display: flex; justify-content: center; padding-top: 15px; }

/*align links*/
#social-media { display: flex; flex-direction: row; justify-content: center; padding-top: 55px; }
.fa { padding: 10px; }

/*align mentions*/
#mention { display: flex; justify-content: center; padding-top: 60px; }

/*Phone format*/
@media all and (max-device-width: 768px)
{
	body, p { font-size: xx-large; }
	h5 { font-size: x-large; }
	h3 { font-size: 30px; }
	h2 { font-size: 65px; }
	h1 { font-size: 90px; }

	img { width: 30%; height: 30%; }

	#bonjour { font-size: 35px; }
	input[type=text], input[type=password] { padding: 50px 150px; font-size: xx-large; }
	label { font-size: 45px; }
	.button { padding: 50px 150px; font-size: xx-large; }

	.font-button { padding: 30px 60px; font-size: xx-large; }
	#width-button { float: unset; }
	#width-button-padd { float: unset; }
	.title-admin { padding-bottom: 0px; padding-top: 10px; }
	.buttons-admin { margin-top: -20px; }
	.button-publish { padding: 25px 60px; font-size: 30px; }

	.list-group-item { font-size: 30px; padding: 30px; }

	#add-signal-post { padding: 15px; }

	.pagination > li > a { padding: 20px 32px; font-size: 36px; line-height: 1.3333333; }

	.fa { padding: 30px 40px; }

	#address { padding-top: 20px; }
	#pics { padding-top: 20px; }
	#social-media { padding-top: 20px; }
	#mention { padding-top: 20px; padding-bottom: 20px; }
}